.account-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-icon p {
    font-size: 16px;
    color: var(--text-main);
}

.account-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .account-icon p {
        display: none;
    }
}