.aside {
    width: 25%;
    height: calc(100% - 60px);
    background-color: black;
    color: white;
    position: fixed;
}

@media (max-width: 426px) {
    .aside {
        width: 100%;
        height: 25px;
        position: relative;
        font-size: 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}