.aside {
    width: 100%;
    height: 100%;
    background-color: var(--bg-surface);
    border-right: 2px solid #E5E7EB;
    grid-row: span 10 / span 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

@media (max-width: 426px) {
    .aside {
        width: 100%;
        height: 25px;
        position: relative;
        font-size: 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}