.aside {
    width: 100%;
    height: 100%;
    background-color: var(--bg-surface);
    border-right: 1px solid hsl(0, 0%, 25%);
    grid-row: span 10 / span 10;
    grid-column: span 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.aside a{
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-main);
}

.aside a img{
    width: 20px;
    height: 25px;
}

@media (max-width: 426px) {
    .aside {
        width: 100%;
        height: 25px;
        position: relative;
        font-size: 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}