.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    grid-row: span 1 / span 1;
    grid-column: span 10 / span 10;
}