.searchbar{
    max-width: 550px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    /* margin: 0 10px; */
    position: relative;
    border: 1px solid #D1D5DB;
}

.searchbar .input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 5px;
    background-color: var(--bg-surface);
}

.searchbar .search-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-10px, -50%);
}