.searchbar{
    max-width: 550px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;
}

.searchbar .input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
    padding: 0 5px;
}