.statbar {
    padding: 5px;
}

.statbar .progress-bar {
    width: 75px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.statbar .progress {
    width: 50%;
    height: 100%;
    background-color: #4b99f8;
    border-radius: 10px;
}