.dashboard-container {
    grid-column: 2 / 12;
    grid-row: 2 / 11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0.5rem;
    padding: 1rem;
}

.dashboard-container .card{
    border-radius: 8px;
    background-color: var(--bg-surface);
    border: 0.5px solid var(--primary);
    box-shadow: 0.5px 0.5px 10px 0 var(--primary);
    
}

.dashboard-container .top{
    margin: 0 0.5rem;
    border-bottom: 2px solid var(--primary);
}

.dashboard-container .total-task {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.dashboard-container .total-task .heading {
    margin: 0.9rem 1rem;
    font-size: 1.3rem;
    color: var(--text-secondary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard-container .total-task .tasks-number {
    margin: 0 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-primary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard-container .total-task .text {
    margin: 0.5rem 1rem;
    font-size: 0.95rem;
    color: var(--text-secondary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard-container .bottom .heading {
    margin: 0.5rem 1rem;
    font-size: 1.3rem;
}

.dashboard-container .activity {
    margin: 0 1rem;
    font-size: 0.85rem;
    color: var(--text-primary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-light);
    padding: 0.2rem;
    border-radius: 5px;
}

.dashboard-container .activity img {
    margin-right: 0.5rem;
    vertical-align: middle;
}

/* completed-task */
.dashboard-container .completed-task {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.dashboard-container .completed-task .heading {
    margin: 0.9rem 1rem;
    font-size: 1.3rem;
    color: var(--text-secondary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard-container .completed-task .tasks-number {
    margin: 0 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-primary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.dashboard-container .completed-task .text {
    margin: 0 1rem;
    font-size: 0.95rem;
    color: var(--text-secondary);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}