.home {
    width: 100%;
    height: 100%;
    grid-column: span 11 / span 11;
    grid-row: span 9 / span 9;
    grid-column-start: 2;
    grid-row-start: 2;
}

@media (max-width: 426px) {
    .home {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}