.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
    grid-column: span 11 / span 11;
    grid-row: span 11 / span 11;
    grid-column-start: 1;
    grid-row-start: 1;
    
}
h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.landing .login-link{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.landing .login-link:hover {
    background-color: #00569A;
}

.landing .login-link:active {
    background-color: #004578;
}

.landing .login-link:focus {
    outline: none;
}

.landing .login-link:visited {
    color: white;
}