.tasks-container {
    width: 100%;
    height: 100%;
    grid-column: span 11 / span 11;
    grid-row: span 9 / span 9;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-grow: 1;
}