#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

@media (max-width: 426px) {
  .App section {
    flex-direction: column;
  }
}
