#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  /* height: 100dvh; */
}

.App section {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
}

@media (max-width: 426px) {
  .App section {
    flex-direction: column;
  }
}