/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --primary: #7C3AED;
  
  --bg-main: hsl(0,0,86%);
  --bg-surface: hsl(0,0,88%);
  --bg-light: hsl(0,0,93%);
  
  --text-main: hsl(0, 0%, 5%);
  --text-secondary: hsl(0, 0%, 30%);
  
  --success: #059669;
  --warning: #D97706;
  --danger: #EF4444;
}

[data-theme="dark"] {
  --bg-main: hsl(0, 0%, 7%);
  --bg-surface: hsl(0, 0%, 12%);
  --bg-light: hsl(0, 0%, 14%);

  --text-main: hsl(0, 0%, 95%);
  --text-secondary: hsl(0, 0%, 75%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100dvh;
  background-color: var(--bg-main);
  color: var(--text-main);
}